<!--This is the navigation bar that is found at the top of the page-->
<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav"> 
    {% for menuItem in cfg['mainMenu'] %}
      <li class="active">
        <a href="{{menuItem['link']}}">{{menuItem['title']}}</a>
      </li>
    {% endfor %} 
    </ul>
  </div>
</nav>

